# <font color='#2F4F4F'>AfterWork Data Science: Market Basket Analysis- Project</font>

## <font color='#2F4F4F'>Step 1. Business Understanding </font>

### a) Specifying the Research Question
Perform market basket analysis to identify the top 10 products likely to be purchased together and help maximize revenue

### b) Defining the Metric for Success

 Determine which products have a strong association relationship

### c) Understanding the Context 
Care five is a German multinational retail corporation headquartered in Berlin, Germany. It is the eighth-largest retailer in the world by revenue. It operates a chain of hypermarkets, groceries stores, and convenience stores, which as of January 2021,comprises its 12,00 stores in over 30 countries.

As a Data analyst working for one of the stores, you must perform market basket
analysis to help the store maximize revenue. More specifically, your task will analyze
transactional data to identify the top 10 products likely to be purchased together.

### d) Recording the Experimental Design


● Perform data importation and loading

● Perform data preprocessing

● Find frequent itemsets

● Generate association rules

● Perform metric interpretation and provide recommendation

## <font color='#2F4F4F'>Step 2. Data Importation and Data Preprocessing</font>

In [95]:
# Importing standard libraries
# ---
# 
import pandas as pd              
import numpy as np               
import matplotlib.pyplot as plt 

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [96]:
# Importing our dataset
# ---
#
df=pd.read_csv("https://bit.ly/30A2gHO")

df.head(20)

        A  Quantity  Transaction  Store         Product
0   30000         2        93194      6        Magazine
1   30001         2        93194      6       Candy Bar
2   30002         2        93194      6       Candy Bar
3   30003         2        93194      6       Candy Bar
4   30004         2        93194      6       Candy Bar
5   30005         2        93197      1         Pencils
6   30006         1        93200      6       Candy Bar
7   30007         1        93200      6       Candy Bar
8   30008         1        93200      6       Candy Bar
9   30009         1        93200      6        Magazine
10  30010         1        93206      8        Magazine
11  30011         1        93206      8  Greeting Cards
12  30012         1        93206      8         Pencils
13  30013         1        93206      8         Pencils
14  30014         5        93212      4      Toothbrush
15  30015         1        93215      4       Candy Bar
16  30016         1        93215      4       Candy Bar
17  30017         1        93215      4  Greeting Cards
18  30018         8        93233      7      Toothbrush
19  30019         1        93239      5        Magazine

In [97]:
#Group the dataframe by Transaction, Product and store  
#  and display the count of items

df2 = df.groupby(["Transaction", "Product"]).size().reset_index(name="Count")
df2.head(20)

    Transaction         Product  Count
0         93194       Candy Bar      4
1         93194        Magazine      1
2         93197         Pencils      1
3         93200       Candy Bar      3
4         93200        Magazine      1
5         93206  Greeting Cards      1
6         93206        Magazine      1
7         93206         Pencils      2
8         93212      Toothbrush      1
9         93215       Candy Bar      2
10        93215  Greeting Cards      1
11        93233      Toothbrush      1
12        93239        Magazine      1
13        93245       Candy Bar      1
14        93248       Candy Bar      1
15        93251        Magazine      2
16        93257        Magazine      1
17        93260        Magazine      1
18        93263        Magazine     16
19        93272       Candy Bar      1

In [98]:
#consolidate the items into one transaction per row 
# with each item one-hot encoded.

df3 = (df2.groupby(["Transaction", "Product"])['Count']
          .sum().unstack().reset_index().fillna(0)
          .set_index('Transaction'))

df3.head()

Product      Bow  Candy Bar  Deodorant  ...  Toothbrush  Toothpaste  Wrapping Paper
Transaction                             ...
93194        0.0        4.0        0.0  ...         0.0         0.0             0.0
93197        0.0        0.0        0.0  ...         0.0         0.0             0.0
93200        0.0        3.0        0.0  ...         0.0         0.0             0.0
93206        0.0        0.0        0.0  ...         0.0         0.0             0.0
93212        0.0        0.0        0.0  ...         1.0         0.0             0.0

[5 rows x 17 columns]

In [99]:
#use our custom encoding function to convert 
# all the values to 0 or 1. 
# The Apriori algorithm will only take 0's or 1's.

def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

df4 = df3.applymap(encode_units)

df4

Product      Bow  Candy Bar  Deodorant  ...  Toothbrush  Toothpaste  Wrapping Paper
Transaction                             ...
93194          0          1          0  ...           0           0               0
93197          0          0          0  ...           0           0               0
93200          0          1          0  ...           0           0               0
93206          0          0          0  ...           0           0               0
93212          0          0          0  ...           1           0               0
...          ...        ...        ...  ...         ...         ...             ...
133406         0          0          0  ...           0           0               1
133424         1          0          0  ...           0           0               0
133427         0          0          0  ...           0           0               0
133430         0          0          0  ...           1           0               0
133433         1          0          0  ...           0           0               0

[6726 rows x 17 columns]

## <font color='#2F4F4F'>Step 3. Find frequent itemsets</font>

In [107]:
#generate the frequent itemsets
shop_frequent_itemsets = apriori(df4, min_support=0.01, use_colnames=True)

shop_frequent_itemsets

     support                                 itemsets
0   0.051591                                    (Bow)
1   0.175736                              (Candy Bar)
2   0.152840                         (Greeting Cards)
3   0.231936                               (Magazine)
4   0.020071                          (Pain Reliever)
5   0.135147                                (Pencils)
6   0.144068                                   (Pens)
7   0.082664                                (Perfume)
8   0.055456                       (Photo Processing)
9   0.014422                       (Prescription Med)
10  0.029289                                (Shampoo)
11  0.039102                                   (Soap)
12  0.067648                             (Toothbrush)
13  0.162504                             (Toothpaste)
14  0.060065                         (Wrapping Paper)
15  0.010110                        (Bow, Toothbrush)
16  0.046090              (Greeting Cards, Candy Bar)
17  0.039994                    (Candy Bar, Magazine)
18  0.035088                     (Candy Bar, Pencils)
19  0.011894                        (Candy Bar, Pens)
20  0.041481                  (Toothpaste, Candy Bar)
21  0.037467               (Greeting Cards, Magazine)
22  0.029884                (Greeting Cards, Pencils)
23  0.033304             (Greeting Cards, Toothpaste)
24  0.028546                      (Magazine, Pencils)
25  0.020071                         (Magazine, Pens)
26  0.013976                      (Magazine, Perfume)
27  0.016503             (Photo Processing, Magazine)
28  0.011299                   (Toothbrush, Magazine)
29  0.029884                   (Toothpaste, Magazine)
30  0.022748                    (Toothpaste, Pencils)
31  0.017098                    (Toothbrush, Perfume)
32  0.017247    (Greeting Cards, Candy Bar, Magazine)
33  0.014570  (Greeting Cards, Toothpaste, Candy Bar)
34  0.010407           (Pencils, Candy Bar, Magazine)
35  0.013232        (Toothpaste, Candy Bar, Magazine)
36  0.011002         (Toothpaste, Candy Bar, Pencils)
37  0.012043      (Greeting Cards, Magazine, Pencils)
38  0.011151   (Greeting Cards, Toothpaste, Magazine)

## <font color='#2F4F4F'>Step 4. Generate association rules</font>

In [108]:

# Finding the association rules
shop_rules = association_rules(shop_frequent_itemsets, metric="lift", min_threshold=1)


# Sorting 
shop_rules.sort_values("lift", ascending = False, inplace = True)

# Previewing the associative rules 


#top 10 combinations of items frequently bought together
shop_rules.head(10)

              antecedents            consequents  ...  leverage  conviction
18           (Toothbrush)              (Perfume)  ...  0.011506    1.227611
19              (Perfume)           (Toothbrush)  ...  0.011506    1.175482
0                   (Bow)           (Toothbrush)  ...  0.006620    1.159592
1            (Toothbrush)                  (Bow)  ...  0.006620    1.115055
23       (Greeting Cards)  (Candy Bar, Magazine)  ...  0.011134    1.082112
22  (Candy Bar, Magazine)       (Greeting Cards)  ...  0.011134    1.489452
53       (Greeting Cards)    (Magazine, Pencils)  ...  0.007680    1.054546
52    (Magazine, Pencils)       (Greeting Cards)  ...  0.007680    1.465358
48            (Candy Bar)  (Toothpaste, Pencils)  ...  0.007005    1.042520
45  (Toothpaste, Pencils)            (Candy Bar)  ...  0.007005    1.596359

[10 rows x 9 columns]

## <font color='#2F4F4F'>Step 5. Perform metric interpretation and provide recommendation</font>


- Toothbrush and Perfume are the items most likely to be purchased together as the highest lift 3.057514


- The confidence level for the 'Toothbrush and Perfume' rule is 0.252747, which shows that out of all the transactions that contain both ‘Toothbrush’, 25.2 percent contain ‘Perfume’ too.
 
-  Would recommend the business to place items likely to be bought together on similar sections and on bundled offers.